src/com/example/DiffClass2.java
__ABSOLUTE_PATH__/src/com/example/DiffClass3.java
src/com/example/DiffClassThreeRenamed.java
non-existing-unrelated-file.txt
src/com/example/unrelated_file.txt
/absolute/non-existing/p_a_t_h/to/file.txt
